.container{
    background-color: cadetblue;
}
div{
    height: 100px;
    width: 100px;
}
#first{
    background-color: red;
}
#second{
    background-color: rgb(51, 33, 33);
    margin-left: 100px;
    position:absolute ;
}
#third{
    background-color: rgb(20, 19, 92);
}